.navigation {
  text-align: center;
}
.navigation li {
  display: inline-block;
  line-height: 150%;
  padding: 0 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.navigation li:last-child {
  border: none;
}
.navigation__link {
  text-decoration: none;
  color: #000000;
}
.navigation__link:hover {
  font-weight: bold;

}
