.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note-title {
  font-size: 2rem;
}

.header-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search-box {
}
.select-box {
}

.toggle-box {
}
.page-navi {
  padding: 0;
}

.page-navi li {
  display: inline-block;
  margin: 0 5px;
}
.page-navi li:hover {
  cursor: pointer;
  font-weight: bold;
}
