.word-box {
  display: flex;
  width: 100%;
}
@media all and (min-width: 320px) {
  .word-box__content {
    display: grid;
    margin: 10px 0;
    grid-template-columns: 20vw 35vw 20vw;
  }
}
@media all and (min-width: 768px) {
  .word-box__content {
    display: grid;
    margin: 10px 0;
    grid-template-columns: 15vw 35vw 10vw;
  }
}
@media all and (min-width: 1024px) {
  .word-box__content {
    display: grid;
    margin: 10px 0;
    grid-template-columns: 15vw 25vw 5vw;
  }
}

.word-box__word {
  line-height: 100%;
  text-align: left;
  font-size: 4vh;
}
.word-box__meaning {
  text-align: center;
  height: 4vh;
}
.show {
  font-size: 2.5vh;
  line-height: 4vh;
}
.hidden {
  opacity: 0.3;
  font-size: 2vh;
  line-height: 4vh;
  border: 1px dotted;
}
.word-box__example {
  line-height: 100%;
  font-size: 2vh;
  text-align: center;
}
.pencil {
  width: 3vh;
  height: 3vh;
  margin: auto 2px;
}
.delete {
  width: 3vh;
  height: 3vh;
  margin: auto 2px;
}
