.test-box {
  text-align: center;
}
.test-box > span:first-child {
  color: rgba(255, 0, 0, 0.6);
  display: block;
  margin-top: 1rem;
}
.test-box__question {
  font-size: 3.5rem;
  line-height: 100%;
  font-weight: bold;
  display: block;
  margin: 1rem 0;
}
.test-box__stack {
  text-align: right;
}

.btn {
  margin: 0 3px;
  position: relative;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #2ecc71;
  color: #ecf0f1;
  transition: background-color 0.3s;
}
.btn span {
  display: block;
  padding: 8px 12px;
}

.btn:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, 0.3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}

.btn.red {
  background-color: #e74c3c;
}

.btn.red:hover, .btn.red:focus {
  background-color: #c0392b;
}